{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "no-undef": "error"
  },
  "extends": ["prettier"]
}
