{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-uses-react": "warn",
    "no-undef": "error",
    "react/jsx-no-undef": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["prettier"]
}
